
button{
    width: 150px;
    height: 50px;
    background: grey;
    font-size: 17px;
    border: 2px solid yellow;
    border-radius: 6px;
    margin-left: 30px;
    font-weight: bold;
}

button:hover{
    background: blueviolet;

}
.btn{
    float: left;

}